{% extends 'catalog/base.html' %}

{% load static i18n catalog_tags humanize %}

{% block meta_title %}
    <title>{{ flatpage.title }}</title>
{% endblock %}

{% block default_section %}
    <div class="container">
        <div class="clear">
            <div class="clear-content">
{#                <ul class="breadcrumbs">#}
{#                    <li><a href="{{ scheme }}://{{ request.get_host }}/{{ request.LANGUAGE_CODE }}/">FreeGamesBoom</a></li>#}
{#                    <li>{{ flatpage }}</li>#}
{#                </ul>#}
                <div class="main-preview-game">
                    <h1>{{ flatpage }}</h1>
                    {{ flatpage.text|safe }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}