<li>
    <a href="{{ page.path }}"
       data-el-querystring-key="{{ querystring_key }}{% if add_nofollow %} nofollow{% endif %}"
       class="endless_page_link"><span>{{ page.label|safe }}</span></a>
</li>