{% extends 'catalog/base.html' %}

{% load thumbnail i18n %}

{% block meta_title %}
    <title>{% trans 'Tags' %}</title>
{% endblock %}

{% block default_section %}
    <div class="container">
        <h1 class="page-title">{% trans 'Popular tags' %}</h1>
        <ul class="all-tags">
            {% for cat in objects %}
                <li>
                    <a href="{{ scheme }}://{{ request.get_host }}{{ cat.get_absolute_url }}">
                    {% if cat.game_set.all.0.image %}
                        {% thumbnail cat.game_set.all.0.image "48x51" crop="center" upscale=0 as im %}
                            <span class="visual"><img data-src="{{ im.url }}" alt="{{ obj }}" class="lazy"></span>
                        {% endthumbnail %}
                    {% endif %}
                        <span class="text">{{ cat.text_link|default:cat }} ({{ cat.total_games }})</span>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}